<!DOCTYPE html>
<html lang="en">

<head>  
    
    <title> </title>
    
</head> 
<body>
    <header>
        <a href="/" class="logo">Cakes <span> </span></a>

        <nav class="navbar">
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="cakes">Our Cakes</a></li>
                    <li><a href="review">Reviews</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="icons"></div>
    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>Delicious Cakes</h3>
            <span>Fresh and Tasty</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quas sunt quo saepe ducimus similique, dicta modi</p>
            <a href="/" class="btn">Order now</a>
        </div>
    </section>





</body>
</html>