<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fe4bc25de3.js" crossorigin="anonymous"></script>
    <title> Our Cakes</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
</head> 
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a class="logo">Sweet Bliss<span> </span></a>

        <nav class="navbar">
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="/cakes">Our Cakes</a></li>
                    <li><a href="/review">Reviews</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="icons">
            <a class="fas fa-search"></a>
            <a class="fas fa-shopping-cart" id="cart-icon"></a>
            <a href="/signup" class="fas fa-user"></a>
            <!-- cart -->
            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                <!-- content -->
                 <div class="cart-content">
                    
                    
                 </div>
                 <!-- total -->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">Rs.0</div>
                </div>
                <!-- Buy button -->
                <button type="button" class="btn-buy">Order Now</button>
                <!-- cart close -->
                <i class="fas fa-times-circle" id="close-cart"></i>

            </div>
        </div>
    </header>


    <section class="product" id="product">
        <h1 class="heading">our <span>cakes</span></h1>
        <div class="product-container">
            <a href="/choc" class="product-box">
                <img src="static/images/choc.jpg" alt="product"> 
                <span>chocolate cakes</span>
            </a>
    
    
       
            <a href="/vanila" class="product-box">
                <img src="static/images/vanila.jpg" alt="product">
                <span>vanila cakes</span>
            </a>
       

            <a href="/redvel" class="product-box">
                <img src="static/images/red3.png" alt="product">
                <span>redvelvet cakes</span>
            </a>
      

            <a href="/bday" class="product-box">
                <img src="static/images/bday.png" alt="product">
                <span>birthday cakes</span>
            </a>


       
            <a href="/wedd" class="product-box">
                <img src="static/images/wed.jpg" alt="product">
                <span>wedding cakes</span>
            </a>
        

            <a href="/mtier" class="product-box">
                <img src="static/images/tier.jpg" alt="product">
                <span>multitier cakes</span>
            </a>
        </div>

        
    
    </section>




    <script src="static/main.js"></script>

        



</body>
</html>        