<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fe4bc25de3.js" crossorigin="anonymous"></script>
    <title> RedVelvet Cakes </title>
    <link rel="stylesheet" href="../static/css/style.css">
    
</head> 
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a class="logo">Sweet Bliss<span> </span></a>

        <nav class="navbar">
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cakes">Our Cakes</a></li>
                    <li><a href="/review">Reviews</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="icons">
            <a class="fas fa-search"></a>
            <a class="fas fa-shopping-cart" id="cart-icon"></a>
            <a href="/signup" class="fas fa-user"></a>
            <!-- cart -->
            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                <!-- content -->
                 <div class="cart-content">
                    
                    
                 </div>
                 <!-- total -->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">Rs.0</div>
                </div>
                <!-- Buy button -->
                <button type="button" class="btn-buy">Order Now</button>
                <!-- cart close -->
                <i class="fas fa-times-circle" id="close-cart"></i>

            </div>
        </div>
    </header>


    <section class="choc" id="choc">
        <h1 class="heading">RedVelvet <span>cakes</span></h1>
    <div class="box-container">
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static/images/red1.jpg" alt="" class="product-img"> 
                <div class="icons">
                    <button type="button" class="cart-btn">add to cart</button>
                    <a href="static/images/red1.jpg"><button type="button" class="view">view</button></a>
                </div>
            </div>
            <div class="content">
                <h3 class="product-title">RedVelvet cake</h3>
                <div class="price">Rs.700 </div><span class="dis">Rs.770</span>
            </div>
        </div>


        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static/images/red2.jpg" alt="" class="product-img"> 
                <div class="icons">
                    <button type="button" class="cart-btn">add to cart</button>
                    <a href="static/images/red2.jpg"><button type="button" class="view">view</button></a>
                </div>
            </div>
            <div class="content">
                <h3 class="product-title">RedVelvet cake</h3>
                <div class="price">Rs.600 </div><span class="dis">Rs.660</span>
            </div>
        </div>
        
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static/images/red3.png" alt="" class="product-img"> 
                <div class="icons">
                    <button type="button" class="cart-btn">add to cart</button>
                    <a href="static/images/red3.png"><button type="button" class="view">view</button></a>
                </div>
            </div>
            <div class="content">
                <h3 class="product-title">RedVelvet cake</h3>
                <div class="price">Rs.500</div> <span class="dis">Rs.550</span>
            </div>
        </div>    

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static/images/red4.jpg" alt="" class="product-img"> 
                <div class="icons">
                    <button type="button" class="cart-btn">add to cart</button>
                    <a href="static/images/red4.jpg"><button type="button" class="view">view</button></a>
                </div>
            </div>
            <div class="content">
                <h3 class="product-title">RedVelvet cake</h3>
                <div class="price">Rs.500 </div><span class="dis">Rs.550</span>
            </div>
        </div>  
        
        
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static/images/red5.jpg" alt="" class="product-img"> 
                <div class="icons">
                    <button type="button" class="cart-btn">add to cart</button>
                    <a href="static/images/red5.jpg"><button type="button" class="view">view</button></a>
                </div>
            </div>
            <div class="content">
                <h3 class="product-title">RedVelvet cake</h3>
                <div class="price">Rs.500 </div><span class="dis">Rs.550</span>
            </div>
        </div>    

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static/images/red6.jpg" alt="" class="product-img"> 
                <div class="icons">
                    <button type="button" class="cart-btn">add to cart</button>
                    <a href="static/images/red6.jpg"><button type="button" class="view">view</button></a>
                </div>
            </div>
            <div class="content">
                <h3 class="product-title">RedVelvet cake</h3>
                <div class="price">Rs.600 </div><span class="dis">Rs.660</span>
            </div>
        </div>  
        
            

    </div>  


    </section>    


    <script src="static/main.js"></script>



</body>
</html>
