<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fe4bc25de3.js" crossorigin="anonymous"></script>
    <title> Review  </title>
    <link rel="stylesheet" href="../static/css/style.css">
    
</head> 
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a class="logo">Sweet Bliss<span> </span></a>

        <nav class="navbar">
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="/cakes">Our Cakes</a></li>
                    <li><a href="/review">Reviews</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="icons">
            <a class="fas fa-search"></a>
            <a class="fas fa-shopping-cart" id="cart-icon"></a>
            <a href="/signup" class="fas fa-user"></a>
        </div>
    </header>

    <section class="review" id="review">
    <h1 class="heading">customer's <span>reviews</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum magni doloremque consectetur quaerat aut qui ratione, 
            expedita, illum, consequatur vitae error fuga dolor odit 
            laudantium sunt maxime eum recusandae eius!</p>
            <div class="user">
                <img src="static/images/m1.jpg" alt="">
                <div class="user-info">
                    <h3>Adhrit</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>


        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum magni doloremque consectetur quaerat aut qui ratione, 
            expedita, illum, consequatur vitae error fuga dolor odit 
            laudantium sunt maxime eum recusandae eius!</p>
                    
            <div class="user">
                
                <img src="static/images/w1.jpg" alt="">
                <div class="user-info"> 
                    <h3>Shruti</h3>
                    <span>happy customer</span>
                </div>
            </div>        
            <span class="fas fa-quote-right"></span>
        </div>


        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum magni doloremque consectetur quaerat aut qui ratione, 
            expedita, illum, consequatur vitae error fuga dolor odit 
            laudantium sunt maxime eum recusandae eius!</p>
            <div class="user">
                <img src="static/images/m2.jpg" alt="">
                <div class="user-info">
                    <h3>Priyanshu</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>

        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum magni doloremque consectetur quaerat aut qui ratione, 
            expedita, illum, consequatur vitae error fuga dolor odit 
            laudantium sunt maxime eum recusandae eius!</p>
            <div class="user">
                <img src="static/images/w2.jpg" alt="">
                <div class="user-info">
                    <h3>Anuradha</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum magni doloremque consectetur quaerat aut qui ratione, 
            expedita, illum, consequatur vitae error fuga dolor odit 
            laudantium sunt maxime eum recusandae eius!</p>
            <div class="user">
                <img src="static/images/m2.jpg" alt="">
                <div class="user-info">
                    <h3>Shubham</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum magni doloremque consectetur quaerat aut qui ratione, 
            expedita, illum, consequatur vitae error fuga dolor odit 
            laudantium sunt maxime eum recusandae eius!</p>
            <div class="user">
                <img src="static/images/m1.jpg" alt="">
                <div class="user-info">
                    <h3>Atharva</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
    </div>
    </section>


    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="/">home</a>
                <a href="about">about</a>
                <a href="/cakes">our cakes</a>
                <a href="/review">review</a>
                <a href="/contact">contact</a>
            </div>

            <div class="box">
                <h3>locations</h3>
                <a href="/">india</a>
                <a href="/">USA</a>    
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="/">+123-456-7890</a>
                <a href="/">sweet@gmail.com</a>
                <a href="/">mumbai, india-400104</a>
            </div>
        </div>
        
        <div class="credit">created by <span>shruti yadav</span> | all rights reserved </div>

    </section>



</body>
</html>